{{ error }}
<form action="{% url 'auth:login' %}" method="post">
    {% load i18n %}
    {% csrf_token %}
    <fieldset>
        <legend><h1>{% translate "Login" %}</h1></legend>
        <label for="email">{% translate "Enter your email" %} : </label>
        <input type="text" name="email" id="email"><br>

        <label for="password">{% translate "Enter your password" %} : </label>
        <input type="password" name="password" id="password"><br>
    </fieldset>
    <input type="submit" value="{% translate 'Sign in' %}">
</form>
{#<a href="{% url 'auth:register' %}">{% translate "Create account here" %}.</a>#}
