image: m.docker-registry.ir/python:3.8.10
variables:
  DEBUG: 'True'
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

stages:
  - test

cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - make


style_check:
  stage: test
  script:
    - make check_style

test:
  stage: test
  script:
    - make test
