{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/HezardastanLogo.png' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
    {% block extra_css %}
    {% endblock %}
    {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}">
    {% endif %}
    <title>{% block title %}Hezardastan Careers{% endblock %}</title>
</head>
<body dir="auto">
{% block navbar %}
    <nav class="nav app__header">
        <ul class="nav__ul">
            <li>
                <div class="home-anchor-wrapper">
                    <a class="home-anchor" href="/">
                        <img class="nav__logo" src="{% static '/images/HezardastanLogo.png' %}" alt=""/>
                    </a>
                </div>
            </li>
            <li><a href={% url 'jobs:main' %}>{% translate 'Home' %}</a></li>
            <li><a href="{% url 'jobs:main' %}#companies">{% translate 'Companies' %} </a></li>
            <li><a href="{% url 'jobs:main' %}#paginated_section">{% translate 'Job Openings' %} </a></li>
            {% if request.user.is_authenticated %}
                <li><a href={% url 'jobs:user_profile' %}>
                    <img class="nav__profile-photo" src="{% static '/images/profile.png' %}" alt=""/>
                </a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">{% translate 'Login' %} </a></li>
            {% endif %}
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "fa" %}
                        <input class="lang-button" type="submit" value="en" name="language">
                    {% else %}
                        <input class="lang-button" type="submit" value="fa" name="language">
                    {% endif %}
                </form>
            </li>
        </ul>
    </nav>
{% endblock %}
<div class="app__content">
    {% block content %}{% endblock content %}
</div>

<footer class="footer app__footer" }>
    <p class="footer__text">
        ©  {% translate "Hezardastan Information Technology Development Group" %}
    </p>
</footer>
</body>
</html>