@font-face {
    font-family: 'vazir';
    src: local('Vazir'),
    url('../fonts/Vazir.ttf') format("truetype");
}

@font-face {
    font-family: 'lato';
    src: local('Lazir'),
    url('../fonts/Lato-Regular.ttf') format("truetype");
}

/* Normalizing */
body {
    margin: 0;
    font-family: "lato", "vazir";
    background-color: rgb(235, 235, 235);
    background-color: white;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

button {
    font-size: 16px;
    font-family: "lato", "vazir";
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple !important;
}

/* Alignments */
.app__header {
    flex: 0 1 65px;
}

.app__content {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.app__footer {
    flex: 0 1 60px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 52, 54);


    margin-top: auto;
}

.footer__text {
    color: rgb(255, 255, 255);
}

/* Common Elements */
.divider {
    grid-column: 1 / 3;

    width: 100%;

    border: none;
    background-color: rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    height: 1px;
}


.grey-transparent-button {
    background-color: transparent;
    border: 1px solid rgb(178, 180, 183);
    border-radius: 5px;
    color: rgb(178, 180, 183);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.grey-transparent-button:hover {
    border-color: purple;
    color: purple;
}

.purple-link {
    color: purple !important;
}

.purple-button {
    color: white;
    background-color: purple;

    padding: 15px 10px;
    border-radius: 5px;
    border: none;
}

.error_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 220, 220);
    border: solid rgb(255, 210, 210) 1px;
    border-radius: 7px;
    margin: 10px 0;

    color: red;

    width: 100%;
    height: 40px;
}

.labeled-info {
    margin: 15px 0;
}

.labeled-info > h3:first-child {
    margin: 0 0 5px 0;

    font-weight: normal;
    color: rgb(120, 124, 132);

}

.labeled-info > h4:last-child {
    margin: 5px 0 0 0;

    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
}


/* Pagination */

.pagination {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pagination-word {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.pagination-numbers {
    flex-basis: 50%;
    flex-grow: 0;

    margin-top: -1px;
    margin-bottom: 0;

    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination-numbers li {
    padding: 15px;
    margin: 0 5px;
}

.pagination-number-selected {
    border-top: purple solid 1px;
}

.pagination-number-selected a {
    color: purple;
}


select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: white; /* Fallback color if gradients are not supported */
    /*background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); !* For Chrome and Safari *!*/
    /*background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); !* For old Firefox (3.6 to 15) *!*/
    /*background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); !* For pre-releases of Internet Explorer  10*!*/
    /*background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); !* For old Opera (11.1 to 12.0) *!*/
    /*background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); !* Standard syntax; must be last *!*/
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
