.messages {
    list-style: none;
}

.info {
}

.success {
}

.error {
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 220, 220);
    border: solid rgb(255, 210, 210) 1px;
    border-radius: 7px;
    margin: 10px 0;

    color: red;

    width: 100%;
    height: 40px;
}