/* Nav bar styles */

.home-anchor-wrapper {
    width: 50px;
    height: 50px;

    padding: 0 20px 0 20px;
    border-right: solid rgb(233, 232, 234) 1px;
}

.home-anchor {
    background-size: 50px;

    width: 50px;
    height: 50px;
}

.nav__logo {
    width: 50px;
    height: 50px;
}


.nav__profile-photo {
    width: 40px;
    height: 40px;

    border-style: none;
    border-radius: 50%;
}

.nav {
    background-color: white;

    min-height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(233, 232, 234);
}

.nav__ul {
    width: 100%;
    padding: 0;
    display: flex;


    margin: 10px auto;
}

.nav__ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-width: 80px;
    max-width: 150px;

    margin: 0 10px;
}

.nav__ul a {
    color: black;
    text-decoration: none;
}

.nav__ul a:hover {
    color: purple;

}

.nav__ul li:first-child a {
    font-size: 120%;
    color: purple;
}

.nav__ul li:last-child {
    margin-right: 20px;
    margin-left: auto;
}

/* Side Menu Styles */
.sidebar {
    width: 30%;
}

.sidebar__logo {
    width: 50px;
}

.menu {
    list-style-type: none;

    padding: 0;
    margin: 0 40px 0 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.menu__item {
    display: flex;
    margin: 15px 0;
    width: 100%;
}

.menu__item span {
    display: flex;

    width: 100%;
}

.menu__item a {
    margin-left: 10px;
}

.menu__item--selected span {
    background-color: rgb(240, 240, 240);

    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 5px;

    border-top-width: 10px;
    border-bottom-width: 10px;
}

/* Alignments */
.profile-screen {
    display: flex;
}