<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav style="background-color: gray; padding: 5px; border-radius: 3px">
            <a href="{% url 'jobs:user_profile' %}" style="text-align: left">
            {{ request.user.first_name }}
            </a>
            <a href="{% url 'auth:logout' %}"
               style="text-align: right">
            Logout
            </a>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>