{% load i18n %}
<h2>{% translate "Filter Job Offers" %} </h2>
<form action="" method="get">
    {% csrf_token %}
    <h3> {% translate "minimum work experience" %}  </h3>
    {{ filter_job_offer.minimum_work_experience }}
    <input type="submit" value="remove filter" name="remove_filter_minimumWork">
    <br>
    <h3>{% translate "category" %}  </h3>
    {{ filter_job_offer.category }}
    <input type="submit" value="remove filter" name="remove_filter_category">
    <br>
    <h3>{% translate "city" %}  </h3>
    {{ filter_job_offer.city }}
    <input type="submit" value="remove filter" name="remove_filter_city">
    <br>
    <input type="submit" value="submit">

</form>