{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobs/company_details.css' %}">
{% endblock %}
{% block content %}
    {% load convert_numbers %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="company-wrapper">
        <div class="z">
            <div class="section-title">
                <h3> {% translate "General Information" %}</h3>
            </div>

            {% cache 600 Company company.id request.LANGUAGE_CODE %}
                <div class="company">
                    <div class="company__upper">
                        {% if company.logo %}
                            <img class="company-logo" src="{{ company.logo.url }}"
                                 alt="{{ company.name }}-logo">
                        {% endif %}
                        <div class="company-info">
                            <h1> {{ company.name }}</h1>
                            <p> {{ company.description }}</p>

                        </div>
                    </div>

                    <div class="company__bottom">
                        <ul class="company-ul">
                            <li>
                                <i class="fa fa-phone"></i>
                                {{ company.telephone_number|translate_numbers }}
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                {% if company.address != "" %}
                                    {{ company.address|truncatewords:10 }}
                                {% else %}
                                    {% translate "Not set" %}
                                {% endif %}
                            </li>
                            <li>
                                <i class="fa fa-external-link"></i>
                                <a href="{{ company.link }}">{{ company.link }}</a>
                            </li>
                            <li>
                                <i class="fa fa-briefcase"></i>
                                {{ company.job_offers.all|length }} {% translate "Career Positions" %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endcache %}

        </div>

        <hr class="divider"/>

        <div class="z" style="margin-top: 40px; margin-bottom: 40px;">
            <div class="section-title">
                <h3>{% translate "Job Openings" %}</h3>
            </div>
            <div class="section-main" id="paginated_section">
                {% include "filter_job.html" %}
                <table class="job-offers-table">
                    <thead>
                    <tr>
                        <th>{% translate "Title" %}</th>
                        <th>{% translate "Salary" %}</th>
                        <th>{% translate "Type of Cooperation" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "More Info" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if page_obj %}
                        {% for offer in page_obj %}
                            <tr>
                                <td>
                                    <a href="{% url 'jobs:job_offers' offer.pk %}">
                                        <p>{{ offer.title }}</p>
                                    </a>
                                </td>
                                <td>
                                    <p>{{ offer.salary|translate_numbers }}</p>
                                </td>
                                <td>
                                    <p>{{ offer.type_of_cooperation|title }}</p>
                                </td>
                                <td>
                                    {% if offer.is_enabled %}
                                        <p class="status-tag open-tag" style="margin: auto">
                                            {% translate "Open" %}
                                            <i class="fa fa-check"></i>
                                        </p>
                                    {% else %}
                                        <p class="status-tag closed-tag">
                                            {% translate "Closed" %}
                                            <i class="fa fa-times"></i>
                                        </p>
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="{% url 'jobs:job_offers' offer.pk %}">
                                        {% if LANGUAGE_CODE == 'fa' %}
                                            <i class="fa fa-chevron-left"></i>
                                        {% else %}
                                            <i class="fa fa-chevron-right"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <h3>{% translate " No Job opening has been added yet." %}</h3>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                {% include 'pagination.html' %}
            </div>
        </div>
        <hr class="divider"/>

        <div style="
                    display: flex;
                    flex-direction: column;
                     align-items: center;
                     justify-content: center;
                     margin-top: 50px;
                     margin-bottom: 50px;
                    ">
            <h3 style="margin: 0 auto">{% translate "Didn't find the job you're looking for?" %}</h3>
            <h4>{% translate " You can enable suggestions in your settings, so we can notify you when your position is opened." %}
            </h4>
        </div>
    </div>
{% endblock %}
