{% extends "base.html" %}
{% block title %}
    edit profile {{ request.user.first_name }} {{ request.user.last_name }}
{% endblock %}
{% block content %}
    {% load i18n %}
    {% load convert_numbers %}
    {% include 'messages.html' %}
    <h1 style="text-align:center;"> {% translate "edit profile" %} {{ request.user.email }}</h1>
    <fieldset>
        <legend><h3>{% translate "edit information" %}</h3></legend>
        <form action="{% url 'jobs:edit_profile' %}" method="post">
            {% csrf_token %}
            {{ edit_profile_form.as_p }}
            <input type="submit" value="edit" name="edit">
        </form>
    </fieldset>
    <br/>
    <br/>
    <br/>
    <fieldset>
        <legend><h3>{% translate "edit skills" %}</h3></legend>
        {% for skill in request.user.profile.skills.all %}
            <fieldset>
                {{ skill.title }}
                <form action="{% url 'jobs:delete_skill' skill.pk %}" method="get">
                    {% csrf_token %}
                    <input type="submit" name="delete_skill" value="delete">
                </form>
            </fieldset>
        {% endfor %}
        <fieldset>
            <form action="{% url 'jobs:edit_profile' %}" method="post">
                {% csrf_token %}
                {{ skill_form.as_p }}
                <input type="submit" value="add" name="add_skill">
            </form>
        </fieldset>
        <h4>{% translate " add skill " %}</h4>
    </fieldset>
    <br/>
    <br/>
    <br/>
    <fieldset>
        <legend><h3>{% translate "edit educational backgrounds" %} </h3></legend>
        {% for educational_background in request.user.profile.educationalbackground_set.all %}
            <fieldset>
                <p> {% translate "field" %}: {{ educational_background.field }}</p>
                <p> {% translate "institute" %}: {{ educational_background.institute }}</p>
                <p> {% translate "level" %}: {{ educational_background.get_level_display }}</p>
                <p> {% translate "start_year" %}: {{ educational_background.start_year|translate_numbers }}</p>
                <p> {% translate "finish_year" %}: {{ educational_background.finish_year|translate_numbers }}</p>
                <form action="{% url 'jobs:delete_educational_background' educational_background.pk %}" method="get">
                    {% csrf_token %}
                    <input type="submit" name="delete_educational_background" value="{% translate 'delete' %}">
                </form>
            </fieldset>
        {% endfor %}
        <fieldset>
            <h4> {% translate "add educational background" %} </h4>
            <form action="{% url 'jobs:edit_profile' %}" method="post">
                {% csrf_token %}
                {{ educational_background_form.as_p }}
                <input type="submit" value="{% translate 'add' %}" name="add_educational_background">
            </form>
        </fieldset>
    </fieldset>

    <br/>
    <br/>
    <br/>

    <fieldset>
        <legend><h3> {% translate "Educational backgrounds" %} : </h3></legend>
        <h4> {% translate "Add a new email" %} </h4>
        <form method="post" action="{% url 'jobs:add_alt_email' %}">
            {% csrf_token %}
            {{ alt_email_form.as_p }}
            <input type="submit" value={% translate "Submit" %}>
        </form>

        <h4> {% translate "Edit existing ones" %} </h4>
        <ul>
            {% for email in request.user.profile.alt_emails.all %}
                <li>
                    <label>{{ email.address }}</label>
                    <form method="post" action="{% url 'jobs:delete_alt_email' email.pk %}">
                        {% csrf_token %}
                        <input type="submit" value={% translate "Delete" %}>
                    </form>
                    {% if not email.is_verified %}
                        <form method="post"
                              action="{% url 'jobs:send-email-verification' email_pk=email.pk %}"
                        >
                            {% csrf_token %}
                            <button name="send-verification-email" value="send-verification-email">
                                {% translate "Send Verification Email" %}
                            </button>
                        </form>
                    {% else %}
                        {% translate "Email verified" %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </fieldset>

{% endblock %}
