{% extends "base.html" %}
{% load job_extras %}
{% block title %}
    offer {{ joboffer.title }}
{% endblock %}
{% block content %}
    <h1 style="text-align:center;"> {{ joboffer.title }} </h1>
    <h3> توضیحات </h3>
    {{ joboffer.description }}


    <h3>حداقل سابقه کار</h3>
    {{ joboffer.minimum_work_experience }} سال

    <h3> حقوق </h3>
    {{ joboffer.salary }} تومن

    <h3> نوع همکاری </h3>
    {{ joboffer.get_type_of_cooperation_display }}

    <h3> حداقل مدرک </h3>
    {{ joboffer.get_minimum_degree_display }}

    <br/>
    <br/>
    <a href = {{ joboffer.company.link }} > لینک شرکت </a>

    <h3> مهارت های مورد نیاز </h3>
    <ul>
        {% for skill in joboffer.skills_required.all %}
            <li> {{ skill.title }}</li>
        {% endfor %}
    </ul>
    {% with request.user as user %}
        {% if not user.profile %}
            <p>You need to complete your profile before application</p>
        {% else %}
            {% with user|get_applications_for_offer:joboffer as applications %}
                {% if applications %}
                    <h4>Applications List</h4>
                    <ol>
                        {% for application in applications|dictsort:"created_at" %}
                            <li>{{ application.get_state_display }}</li>
                        {% endfor %}
                    </ol>
                {% endif %}
            {% endwith %}
            {% if not user|has_pending_application_for_offer:joboffer %}
                <form method="post" action=" {% url 'jobs:apply' joboffer.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="resume" style="display: block; margin-bottom: 20px">
                    <button type="submit">Send Application</button>
                </form>
            {% endif %}
        {% endif %}
        {% include 'messages.html' %}
    {% endwith %}
{% endblock %}
