{% extends 'base.html' %}
{% block title %}
    profile {{ request.user.first_name }} {{ request.user.last_name }}
{% endblock %}
{% block content %}
    {% load i18n %}
    {% load convert_numbers %}
    <div>
        {% include 'messages.html' %}
        {% if userprofile.user.is_email_verified %}
            {% translate "Email verified" %}
        {% else %}
            {% translate "Your Email is not verified yet" %}
            <form name="verification-form"
                  method="post"
                  action="{% url 'auth:send-email-verification' %}"
            >
                {% csrf_token %}
                <button>Verify</button>
            </form>
        {% endif %}
    </div>
    <h1 style="text-align:center;"> {{ userprofile.user.first_name }} </h1>
    <h3> {% translate "Email" %} : </h3>
    {{ userprofile.user.email }}


    <h3> {% translate "Name" %} : </h3>
    {{ userprofile.user.first_name }}

    <h3> {% translate "last name" %} : </h3>
    {{ userprofile.user.last_name }}

    <h3> {% translate "Mobile number" %} : </h3>
    {{ userprofile.mobile_number|translate_numbers }}

    <h3> {% translate "Phone number" %} : </h3>
    {{ userprofile.phone_number|translate_numbers }}

    <h3> {% translate "Military service status" %} : </h3>
    {{ userprofile.get_military_service_status_display }}

    <h3> {% translate "City" %} : </h3>
    {{ userprofile.city_of_residence }}

    <h3> {% translate "Gender" %} : </h3>
    {{ userprofile.get_gender_display }}

    <h3> {% translate "Marital status" %} : </h3>
    {{ userprofile.get_marital_status_display }}

    <h3> {% translate "Skills" %} : </h3>
    <ul>
        {% for skill in userprofile.skills.all %}
            <li> {{ skill.title }}</li>
        {% endfor %}
    </ul>

    <h3> {% translate "Educational backgrounds" %} : </h3>
    <ul>
        {% for educational_background in userprofile.educationalbackground_set.all %}
            <li> {{ educational_background }}</li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <h3> {% translate "Verified Emails" %} : </h3>
    <ul>
        {% for email in request.user.profile.alt_emails.all %}
            {% if email.is_verified %}
                <li>
                    <label>{{ email.address }}</label>
                    {% translate "Email verified" %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>


    {% if request.user.id ==  userprofile.user.id %}
        <a href="{% url 'jobs:edit_profile' %}"> {% translate "Edit" %} </a>
    {% endif %}
{% endblock %}
